/*? page layout and root style*/
* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #121212;
    color: #FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/*? header style*/
header {
    text-align: center;
    text-transform: uppercase;
    margin: 15px 0px;
}

header p {
    margin-top: 5px;
}

.page {
    width: 80%;
    margin: auto;
}

/*? input section style*/
input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    padding: 6px;
    margin: 6px;
    border-radius: 4px;
    background-color: #1E1E1E;
    color: #fff;
    transition: .7s;
}

input:focus {
    background-color: #2D2D2D;
    border: 1px solid #1a51a9;
    transform: scale(1.04);
}

.price {
    display: flex;
    align-items: center;
}

#totalPrice {
    width: 100%;
    margin: 5px;
    padding: 10px;
    border-radius: 4px;
    background-color: #DC2626;
    font-weight: 700;
}

#totalPrice::before {
    content: 'Total : ';
}

button {
    padding: 6px;
    margin: 6px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background-color: #1a51a9;
    color: #fff;
    transition: .5s;
}

button:hover {
    background-color: #143783;
    letter-spacing: 2px;
}

/*? search block style*/
.searchBlock {
    margin-top: 20px;
}

.searchButtons {
    display: flex;
    justify-content: space-between;
}

.searchButtons button {
    width: 45%;
}

#deleteAllBtn {
    margin: 12px 0px;
}

/*? product table style*/
table {
    width: 100%;
    text-align: center;
    margin: 16px 0px;
    border-radius: 6px;
    border-collapse: collapse;
    background-color: #1E1E1E;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

th,
td {
    padding: 8px 6px;
}

table th {
    text-transform: uppercase;
    font-weight: 800;
    color: #134aa4;
    padding: 10px;
}

table th:hover {
    color: #3B82F6;
}

table tr:nth-child(even) {
    background-color: #2A2A2A;
}

table tr:hover {
    background-color: #434343;
    transition: 0.5s;
}

table button {
    width: fit-content;
    padding: 8px 16px;
    margin: 2px 4px;
    font-size: 0.9rem;
}